<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">

    {{ghost_head}}
</head>

<body>

{{> STRHeader/ui-view}}

    {{#is "post, page"}}
        {{> pswp}}
    {{/is}}

    {{{body}}}

    {{ghost_foot}}
</body>
</html>
