{{#post}}

<div class="STREpisode">

<p>
<a class="STREpisodeAll" href="/">← All episodes</a>
</p>

<time class="STREpisodeDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>

<p>
<a class="STREpisodeTitle" href="{{url}}">{{title}}</a>
</p>

<article class="STREpisodeContent">

{{content}}

</article>


<!-- ROCOForum -->

<div id="discourse-comments" class="ROCOForum OLSKDecorModule">

<h2 class="STREpisodeDiscussionHeading">Discussion</h2>

</div>

<script type="text/javascript">
DiscourseEmbed = { discourseUrl: 'https://cafe.rosano.ca/', discourseEmbedUrl: window.location.origin + '{{url}}' };

(function() {
  var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
  d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
})();
</script>

<style>
.ROCOForum {
  text-align: center;
}

.ROCOForum iframe {
  width: 95%;
  margin: 0 10px;
  margin-top: 5px;
}
</style>

</div>

{{/post}}
