{{#post}}

<div class="STREpisode">

<p>
<a class="STREpisodeAll" href="/">← All episodes</a>
</p>

<time class="STREpisodeDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>

<p>
<a class="STREpisodeTitle" href="{{url}}">{{title}}</a>
</p>

<article class="STREpisodeContent">

{{content}}

</article>

{{> ROCOForum}}

{{/post}}
