{{#post}}

<div class="STREpisode">

<p>
<a class="STREpisodeAll" href="/">← All episodes</a>
</p>

<time class="STREpisodeDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>

<p>
<a class="STREpisodeTitle" href="{{url}}">{{title}}</a>
</p>

<article class="STREpisodeContent">

{{content}}

</article>

{{#unless @member}}
<script type="text/javascript">
(function() {
	if (!document.querySelector('#sections')) {
		return;
	}

	document.querySelector('#sections').nextElementSibling.nextElementSibling.innerHTML = document.querySelector('#sections').nextElementSibling.nextElementSibling.innerHTML.replace(/\d+\:\d+\s+/g, '')
})();
</script>
{{/unless}}

{{#unless status}}

{{> ROCOForum}}

{{/unless}}

{{/post}}

{{> STRRelated/ui-view}}
