{{#foreach posts visibility="all"}}

<div class="STRPreview">

<span class="STRPreviewMeta">
	<span class="STRPreviewNumber">{{slug}}</span> — <time class="STRPreviewDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>
</span>
<a class="STRPreviewTitle" href="{{url}}">{{title}}</a>
<div class="STRPreviewExcerpt">{{content}}</div>
<p>
	<a class="STRPreviewNotes" href="{{url}}">→ Episode notes</a>
</p>

</div>

{{/foreach}}
