{{#foreach posts visibility="all"}}

<div class="STRPreview">

<span class="STRPreviewMeta">
	<span class="STRPreviewNumber">{{slug}}</span> — <time class="STRPreviewDate" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM Do, YYYY"}}</time>
</span>
<a class="STRPreviewTitle" href="{{url}}">{{title}}</a>
<iframe class="STRPreviewEmbed" width="100%" height="180" frameborder="no" scrolling="no" seamless src="https://go.rosano.ca/{{slug}}"></iframe>
<p>
	<a class="STRPreviewNotes" href="{{url}}">→ {{slug}} episode notes</a>
</p>

</div>

{{/foreach}}
