<div class="STRFeatureList">

<h1 class="STRFeatureListHeading">Featured content</h1>

{{#foreach posts}}

<div class="STRFeatureListItem">

<a class="STRFeatureListItemTitle" href="{{url}}">{{title}}</a>

<iframe class="STRFeatureListItemEmbed" width="100%" height="{{#has tag="#Audio"}}180{{else}}300{{/has}}" frameborder="no" scrolling="no" seamless src="https://go.rosano.ca/strolling-{{slug}}-{{#has tag="#Audio"}}audio{{else}}video{{/has}}"></iframe>

<div class="STRFeatureListItemTag OLSKCommonCard">
	{{#if primary_tag.feature_image}}
		<img class="STRFeatureListItemTagImage" src="{{ primary_tag.feature_image }}" aria-hidden="true" />
	{{/if}}
	
	<a class="STRFeatureListItemTagLink" href="{{ primary_tag.url }}">More from {{ primary_tag.name }}</a>
</div>

</div>

{{/foreach}}

{{pagination}}

</div>
