<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

<title>{{meta_title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">

{{ghost_head}}

<!-- STR_DefaultTwitterPlayerCard -->

{{#is "post"}}
<meta name="twitter:card" content="player" />
<meta name="twitter:player" content="https://go.rosano.ca{{url}}" />
<meta name="twitter:player:width" content="500" />
<meta name="twitter:player:height" content="180" />
{{/is}}

<link rel="stylesheet" href="{{asset "ui-style.css"}}">

</head>

<body class="STR_Default OLSKDecor OLSKDecorCapped">

{{> STRAbove/ui-view}}

{{{body}}}

{{> STRBelow/ui-view}}

{{ghost_foot}}

</body>
</html>
